html {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
body {
	background-color: #465c7d;
}
.photo {
	margin-left: 5%;
	max-width: 50%;
}
.preview {
	max-width: 40%;
	margin-left: 29%;
	text-align: center;
}
nav {
	top: 15%;
	text-align: center;
	position: fixed;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: orange;
}
h1 {
	text-align: center;
}
ul {
	list-style: none;
	text-align: center;
}
a > img {
	max-width: 50%;
}

.beta {
	width: 50%;
}
.navbar {
	height: 100%;
	width: 20%;
	position: fixed;
	background-color: #36465d;
	top: 0px;
	right: 0px;
}