.button {
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	color: black;
	font-size: 3em;
}
.button:hover {
	color: white;
}
#attack_button {
	background-color: green;
	width: 16%;
	height: 75px;
	margin-left: 33%;
}
#heal_button {
	background-color: red;
	width: 16%;
	height: 75px;
}
#text_box {
	background-color: white;
	width: 32%;
	height: 200px;
	border: 2px solid black;
	color: black;
	margin-left: 33%;
}
.blurb {
	max-width: 50%;
	margin-right: 24%;
	margin-left: 24%;
}